.blog-title{
    text-align: center;
    font-family:lobster;
    font-size: 50px;
}

.card-title{
    text-align: center;
}

.line-dash{
    margin:auto;
    width:45%;
    height:45%;
}

.intro{
    text-align:center;
}

.jump{
    width:600px;
    height:70%;
    float:right;
}

.blog-description{
    text-align:center;
    font-size:16px;
}


