.blog-title{
    text-align: center;
    font-family:lobster;
    font-size: 50px;
}

.card-title{
    text-align: center;
}

.line-dash{
    margin:auto;
    width:45%;
    height:45%;
}

.intro{
    text-align:center;
    float: left;
}

.intro-line{
    text-align:center;
    margin:auto;
    width: 35%;
    height:45%;
    float:left;
}

.jump{
    width:620px;
    height:65%;
    float:right;
    margin:auto;
    border:50%;
}

.blog-description{
    text-align:center;
    font-size:16px;
}


