.blog-title{
    text-align: center;
    font-family:lobster;
    font-size: 50px;
}

.card-title{
    text-align: center;
}

.line-dash{
    margin:auto;
    width:45%;
    height:45%;
}

.blog-description{
    text-align:center;
    font-size:16px;
}

.kim-pic{
width:75%;
height:50%;
margin:auto;
}